@use "./funciones";
@use "./variables";

header {
    @include funciones.flex(flex, center, center, center);
    background: radial-gradient(circle, #c200a8cb 43%, #000000 100%);
    border-bottom: 4px solid rgb(160, 160, 160);
    font-weight: bold;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;


    h2 {
        @include funciones.fonts(variables.$fuente-1, #e4a553);
        text-decoration: none;
    }

    a {
        @include funciones.fonts(variables.$fuente-1, #d8d8d8);
        text-decoration: none;
    }
}

.bootstrap-navbar {
    display: none
}

.texto-header {
    @include funciones.fonts(variables.$fuente-2, #ffffff, null, 4px 3px #000000);
    @include funciones.fonts($font-size: 1.3em);
}

.titulo {
    @include funciones.fonts(variables.$fuente-2, null, null, 5px 5px #590061);
    @include funciones.fonts($font-size: 2.1rem);
}

.lista-header {
    @include funciones.flex(flex, center, center, center);
    list-style: none;
    padding-top: 2%;
}

header h2 .titulo:hover{
    color: #80008b;
}

/* Sintaxis básica */
nav a:hover {
  color: #ec5ae0;
}

/* Sintaxis básica */
.otro a:hover {
  color: #11b4d1;
}

.div-header {
    padding: 1%;
}