@use "./header";
@use "./variables";
@use "./funciones";
@use "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5;
}

.class {
    padding: 0;
}

section article {
    h2 {
        @include funciones.fonts(variables.$fuente-2, #f5f5f5, 2.5em, 2px 3px #ff4800);
    }

    p {
        @include funciones.fonts(variables.$fuente-1, #ffffff, null, 1px 1px 10px #c45f00, justify);
    }

    input text {
        color: #942121;
    }

    label {
        color: rgb(238, 238, 238);
    }
}

.h2__font {
    @include funciones.fonts(variables.$fuente-1);
}

.p__font {
    @extend .h2__font;
}

.foto-niceto {
    background-image: url("../img/index/niceto2.jpg");
    background-size: cover;
}

.fondo-negro {
    background: rgba(0, 0, 0, 0.7);
}

.main-item {
    display: grid;
    grid-template-areas:
        "texto1 texto2"
        "img-1 img-2"
        "texto3 img-3";
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    grid-template-rows: auto;
    border: 2px solid white;

    img {
        width: 95%;
    }

}

.titulo-intro {
    background-color: #000000;
    width: auto;
    @include funciones.flex-centrado;
    border: 2px solid rgb(123, 255, 0);
    text-align: center;
    padding: 0.1rem;
    font-size: 2.8em;
}

@for $i from 1 through 3 {
    .texto#{$i} {
        grid-area: texto#{$i};
        font-size: 2rem;
        margin: 1rem;
    }
}

@for $i from 1 through 3 {
    .img-#{$i} {
        grid-area: img-#{$i};
        @include funciones.flex(flex, center, baseline, end);
    }
}

.gridr {
    display: grid;
    grid-template-areas:
        "cards1 cards2 cards3"
        "cards4 cards5 cards6";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #a59d9d;
    border: 2px solid white;

    .cards p {
        font-size: 3em;
        color: #ffffff;
        text-shadow: 1px 1px 10px #000000;
    }
}

@for $i from 1 through 6 {
    .gridr__cards#{$i} {
        grid-area: cards#{$i};
    }
}

.cards {
    display: flex;
    flex-direction: column;
    background: #e30707;
    background: radial-gradient(circle, rgba(227, 7, 7, 1) 0%, rgba(212, 210, 210, 1) 100%);
    border-radius: 45px;
    box-shadow: 6px 12px #3f392e;
    margin: 1.5rem;
}

.cards__title {
    @include funciones.flex-centrado;
    margin: 3%;
    color: #ffeded;
    text-shadow: 5px 5px 1px #000000;
}

.cards__title-text {
    font-size: 5em;
    @include funciones.flex-centrado;
}

.cards__img {
    display: flex;
    width: 100%;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}

.cards__info {
    @include funciones.flex-centrado;
    font-size: 7em;
    border-bottom: 5px solid rgb(0, 0, 0);
}

.cards__links {
    display: flex;
    flex-direction: row;
    text-align: center;

    img {
        width: 45%;
        padding: 0.5rem;
        filter: drop-shadow(3px 4px rgba(71, 49, 49, 0.5));
    }
}

.gridr__fonts {
    font-size: 3.7em;
    padding: 3%;
}

.grid-multimedia {
    display: grid;
    grid-template-areas:
        "video1 video2"
        "video3 video4";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    margin: 0%;
    padding-left: 5vw;
    background-color: #797979;
    border: 2px solid white;
}

.titulo-multimedia {
    font-size: 4rem;
    text-align: center;
    text-shadow: 4px 5px 10px black;
    background-color: #8A2BE2;
    z-index: -100;
    margin: 0;
}

.texto-multimedia {
    @include funciones.flex-centrado;
    padding: 1rem;
    font-size: 2rem;
    z-index: -100;
    background-color: #8A2BE2;
    margin: 0;
}

.tamaño-multimedia {
    width: 800px;
    height: 600px;
}

iframe {
    border: 4px solid rgb(121, 25, 165);
    border-radius: 55px;
    margin: 1%;
}

@for $i from 1 through 4 {
    .grid__video#{$i} {
        grid-area: video#{$i};
    }
}

.grid-formulario {
    display: grid;
    grid-template-areas:
        ". formulario .";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
    border: 2px solid white;
}

.grid__form1 {
    grid-area: formulario;
}

.form {
    @include funciones.flex-centrado;
    flex-direction: column;
    background-color: #eccc14c4;
    border-radius: 45px;
}

.titulos-formulario {
    text-shadow: #92a098 1px 0 10px;
    font-weight: bold;
    font-size: 4em;
    color: white;
}

.form__text {
    padding-left: 1rem;
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: #777777;
}

.form__input {
    width: 20rem;
    height: 2.4rem;
    border: 2px solid rgb(255, 145, 0);
    border-radius: 5%;
}

.form__row {
    display: flex;
    flex-direction: row;
    border: 100px;
    font-size: 1.5em;
}

.form__input-font {
    font-size: 1.2rem;
}

.form_padding {
    padding: 5;
}

.centrado-boton {
    @include funciones.flex-centrado;
}

.fondo-contac-multi {
    background-color: #8A2BE2;
}

.none {
    display: none;
}

@media (max-width: 1440px) {
    .titulo-intro {
        background-color: #000000;
        width: auto;
        @include funciones.flex-centrado;
        border: 2px solid rgb(123, 255, 0);
        text-align: center;
        padding: 0.1rem;
        font-size: 1.8em;
    }


    @for $i from 1 through 3 {
        .texto#{$i} {
            grid-area: texto#{$i};
            font-size: 1.7em;
            margin: 1rem;
        }
    }

    .flex-footer {
        @include funciones.flex-centrado;
        flex-direction: column;
        background-color: black;
        font-size: 1.2em;
        border-left: 2px solid rgb(160, 160, 160);
        border-bottom: 2px solid rgb(160, 160, 160);
        border-right: 2px solid rgb(160, 160, 160);
    }

    .lista-footer {
        @include funciones.flex;
        list-style: none;
        justify-content: center;
        flex-direction: row;
        margin-top: -20%;
        padding-left: 2%;
    }

    footer {

        img {
            height: 40px;
            width: 40px;
            box-shadow: #ffffff;
        }
    }

    @for $i from 1 through 3 {
        .img-#{$i} {
            grid-area: img-#{$i};
        }
    }

    .img-3 {
        margin-bottom: 10%;
    }

    .main-item {
        display: grid;
        grid-template-areas:
            "texto1 texto2"
            "img-1 img-2"
            "texto3 img-3";
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        grid-template-rows: 0.3fr 0.1fr 0.1fr;
        border: 2px solid white;

        img {
            width: 95%;
            flex-wrap: wrap;
        }

    }

    .gridr {
        display: grid;
        grid-template-areas:
            "cards1 cards2 cards3"
            "cards4 cards5 cards6";
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        padding-left: 2vw;
        padding-bottom: 5vh;
        padding-right: 2vw;
        background-color: #a59d9d;
        border: 2px solid white;

        .cards p {
            font-size: 2em;
            color: #ffffff;
            text-shadow: 1px 1px 10px #000000;
        }
    }

    @for $i from 1 through 6 {
        .gridr__cards#{$i} {
            grid-area: cards#{$i};
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        background: #e30707;
        background: radial-gradient(circle, rgba(227, 7, 7, 1) 0%, rgba(212, 210, 210, 1) 100%);
        border-radius: 45px;
        box-shadow: 6px 12px #3f392e;
        margin: 5%;
    }

    .cards__title {
        @include funciones.flex-centrado;
        margin: 5%;
        color: #ffeded;
        text-shadow: 5px 5px 1px #000000;
    }

    .cards__title-text {
        font-size: 2.5em;
        @include funciones.flex-centrado;
    }

    .cards__img {
        display: flex;
        width: 100%;
        border-top: 5px solid rgb(0, 0, 0);
        border-bottom: 5px solid rgb(0, 0, 0);
    }

    .cards__info {
        @include funciones.flex-centrado;
        font-size: 4em;
        border-bottom: 5px solid rgb(0, 0, 0);
    }

    .cards__links {
        display: flex;
        flex-direction: row;
        text-align: center;

        img {
            width: 60%;
            margin-bottom: 10%;
            text-shadow: 1px 1px 15px #ffffff;
        }
    }

    .gridr__fonts {
        font-size: 2em;
        padding: 3%;
    }

    .grid-multimedia {
        display: grid;
        grid-template-areas:
            "video1 video2"
            "video3 video4";
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        background-color: #797979;
        border: 2px solid white;
    }

    .titulo-multimedia {
        text-align: center;
        font-size: 3.5em;
        text-shadow: 4px 5px 10px black;
        background-color: #8A2BE2;
    }

    .texto-multimedia {
        @include funciones.flex-centrado;
        padding: 1rem;
        font-size: 1.7em;
        background-color: #8A2BE2;
    }

    .tamaño-multimedia {
        width: 500px;
        height: 350px;
    }

    .iframe__background {
        border: 5px solid rgb(121, 25, 165);
        border-radius: 55px;
    }

}

@media (max-width: 768px) {
    .main-item {
        display: grid;
        grid-template-areas:
            "texto1 texto2"
            "img-1 img-2"
            "texto3 img-3";
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        grid-template-rows: auto;
        border: 2px solid white;

        img {
            width: 95%;
        }

    }

    .titulo-intro {
        background-color: #000000;
        width: auto;
        @include funciones.flex-centrado;
        border: 2px solid rgb(123, 255, 0);
        text-align: center;
        padding: 0.1rem;
        font-size: 2.8em;
    }

    @for $i from 1 through 3 {
        .texto#{$i} {
            grid-area: texto#{$i};
            font-size: 1.1rem;
            margin: 1rem;
        }
    }

    @for $i from 1 through 3 {
        .img-#{$i} {
            grid-area: img-#{$i};
            @include funciones.flex(flex, center, baseline, end);
        }
    }

    .texto-header {
        @include funciones.fonts(variables.$fuente-2, #ffffff, null, 4px 3px #000000);
        @include funciones.fonts($font-size: 1.1em);
    }

    .titulo {
        @include funciones.fonts(variables.$fuente-2, null, null, 5px 5px #590061);
        @include funciones.fonts($font-size: 1.9rem);
    }

    .main-item {
        display: grid;
        grid-template-areas:
            "texto1 texto2"
            "img-1 img-2"
            "texto3 img-3";
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        grid-template-rows: 0.3fr 0.1fr 0.1fr;
        border: 2px solid white;

        img {
            width: 95%;
            flex-wrap: wrap;
        }

    }

    .tamaño-multimedia {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: fit-content;
        margin: 1%;
        height: 300px;
        width: 350px;
    }

    .titulo-multimedia {
        text-align: center;
        font-size: 2.4rem;
        background-color: #8A2BE2;
    }

    .texto-multimedia {
        @include funciones.flex-centrado;
        font-size: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #8A2BE2;
        margin: 0;
    }

    .gridr {
        display: grid;
        grid-template-areas:
            "cards1 cards2"
            "cards3 cards4"
            "cards5 cards6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: #a59d9d;
        border: 2px solid white;

        .cards p {
            font-size: 2.2em;
            color: #ffffff;
            text-shadow: 1px 1px 10px #000000;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        background: #e30707;
        background: radial-gradient(circle, rgba(227, 7, 7, 1) 0%, rgba(212, 210, 210, 1) 100%);
        border-radius: 45px;
        box-shadow: 6px 12px #3f392e;
    }

    .cards__title {
        @include funciones.flex-centrado;
        color: #ffeded;
        text-shadow: 5px 5px 1px #000000;
    }

    .cards__title-text {
        font-size: 3em;
        @include funciones.flex-centrado;
    }

    .cards__img {
        display: flex;
        width: 100%;
        border-top: 5px solid rgb(0, 0, 0);
        border-bottom: 5px solid rgb(0, 0, 0);
    }

    .cards__info {
        @include funciones.flex-centrado;
        font-size: 6rem;
        border-bottom: 5px solid rgb(0, 0, 0);
    }

    .cards__links {
        display: flex;
        flex-direction: row;
        text-align: center;

        img {
            margin-top: -12%;
            width: 65%;
            filter: drop-shadow(3px 4px rgba(71, 49, 49, 0.5));
            text-shadow: 1px 1px 15px #ffffff;
        }
    }

    .gridr__fonts {
        font-size: 2.1em;
    }

    .padding-little {
        font-size: 3em;
    }

    @for $i from 1 through 6 {
        .gridr__cards#{$i} {
            grid-area: cards#{$i};
        }
    }

}

@media (max-width: 430px) {
    .none-mobile {
        display: none;
    }

    .flex-header {
        @include funciones.flex(flex, center);
        margin: 0;
        padding: 0;
        background: radial-gradient(circle, #c200a8cb 21%, #000000 100%);
    }

    .bootstrap-navbar {
        display: flex;
        width: 100%;
    }

    .titulo {
        font-size: 1.8rem;
        @include funciones.fonts(variables.$fuente-2, null, null, 2px 3px #6d155d);
    }

    .none-mobile {
        display: none;
    }

    .main-item {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "texto1"
            "img1"
            "texto2"
            "img2"
            "texto3"
            "img3";
        grid-template-rows: auto;
        min-height: 0;
        overflow-y: auto;
        border: 2px solid white;
        margin: 0;
        padding: 0;
    }

    @for $i from 1 through 3 {
        .texto#{$i} {
            grid-area: texto#{$i};
            font-size: 1rem;
        }

        .img-#{$i} {
            grid-area: img#{$i};
            display: flex;
            justify-content: center;

            img {
                width: 95%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .flex-footer {
        font-size: 1.3em;
    }

    .lista-footer {
        padding-right: 2rem;
    }

    .texto--1 {
        font-size: 3em;
    }

    footer {
        nav {
            @include funciones.flex-centrado;
            width: 1%;
        }

        img {
            height: 45px;
            width: 45px;
            margin-left: 50%;

        }

        p {
            margin: 1%;
        }
    }

    .grid-multimedia {
        display: grid;
        grid-template-areas:
            "video1"
            "video2"
            "video3"
            "video4";
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-self: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
        border: 2px solid white;
    }

    .tamaño-multimedia {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: fit-content;
        margin: 1%;
        height: 200px;
    }

    .titulo-multimedia {
        text-align: center;
        font-size: 2.2rem;
        background-color: #8A2BE2;
    }

    .texto-multimedia {
        @include funciones.flex-centrado;
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: #8A2BE2;
        margin: 0;
    }

    .iframe__background {
        border: 2px solid rgb(174, 0, 255);
        border-radius: 25px;
    }

    @for $i from 1 through 4 {
        .grid__video#{$i} {
            grid-area: video#{$i};
        }
    }

    .gridr {
        display: grid;
        grid-template-areas:
            "cards1"
            "cards2"
            "cards3"
            "cards4"
            "cards5"
            "cards6";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: #a59d9d;
        border: 2px solid white;

        .cards p {
            font-size: 2.2em;
            color: #ffffff;
            text-shadow: 1px 1px 10px #000000;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        background: #e30707;
        background: radial-gradient(circle, rgba(227, 7, 7, 1) 0%, rgba(212, 210, 210, 1) 100%);
        border-radius: 45px;
        box-shadow: 6px 12px #3f392e;
    }

    .cards__title {
        @include funciones.flex-centrado;
        color: #ffeded;
        text-shadow: 5px 5px 1px #000000;
    }

    .cards__title-text {
        font-size: 3em;
        @include funciones.flex-centrado;
    }

    .cards__img {
        display: flex;
        width: 100%;
        border-top: 5px solid rgb(0, 0, 0);
        border-bottom: 5px solid rgb(0, 0, 0);
    }

    .cards__info {
        @include funciones.flex-centrado;
        font-size: 6rem;
        border-bottom: 5px solid rgb(0, 0, 0);
    }

    .cards__links {
        display: flex;
        flex-direction: row;
        text-align: center;

        img {
            margin-top: -12%;
            width: 65%;
            filter: drop-shadow(3px 4px rgba(71, 49, 49, 0.5));
            text-shadow: 1px 1px 15px #ffffff;
        }
    }

    .gridr__fonts {
        font-size: 2.1em;
    }

    .padding-little {
        font-size: 3em;
    }

    @for $i from 1 through 6 {
        .gridr__cards#{$i} {
            grid-area: cards#{$i};
        }
    }

    .grid-formulario {
        display: grid;
        grid-template-areas:
            ". formulario .";
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 5rem;
        border: 2px solid white;
    }

    .grid__form1 {
        grid-area: formulario;
    }

    .titulos-formulario {
        text-shadow: #92a098 1px 0 10px;
        font-weight: bold;
        font-size: 2em;
        color: white;
    }

    .form__text {
        padding-left: 1rem;
        font-size: 1.6rem;
        text-align: center;
        color: rgb(0, 0, 0);
        text-decoration: #777777;
    }

    .form__input {
        width: 17rem;
        height: 1.5rem;
        border: 2px solid rgb(255, 145, 0);
        border-radius: 5%;
    }

    .form__input-font {
        font-size: 1.3em;
    }

    .centrado-boton {
        @include funciones.flex-centrado;
    }

    .form {
        flex-direction: column;
        background-color: #eccc14c4;
        border-radius: 20px;
    }

}